        body {
            background-color: black;
            color: blanchedalmond;
        }

        #btn-voltar {
            position: absolute;
            width: 20px;
            height: 24px;
            left: 20px;
            top: 48px;
            background: url(../img/Btn_Voltar.svg);
        }

        #logo {
            position: absolute;
            width: 288.62px;
            height: 170px;
            left: 62.69px;
            top: 20.64px;
            background: url(./img/LogoNetflix.svg);
        }

        #user {
            position: absolute;
            width: 310px;
            height: 65px;
            left: 52px;
            top: 295px;
            background: #C4C4C4;
            font-family: Roboto;
            font-style: normal;
            font-size: 30px;
        }

        #password {
            position: absolute;
            width: 310px;
            height: 65px;
            left: 52px;
            top: 406px;
            background: #C4C4C4;
            font-family: Roboto;
            font-style: normal;
            font-size: 30px;
        }

        #btn-entrar {
            position: absolute;
            width: 326px;
            height: 60px;
            left: 44px;
            top: 517px;
            background: #E40813;
            border-radius: 6px;
            font-family: Roboto;
            font-style: normal;
            font-size: 30px;
        }

        #mensagem {
            position: absolute;
            width: 248px;
            height: 29px;
            left: 77px;
            top: 645px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 29px;
            color: #FFFFFF;
        }
